!**/src/main/**
!**/src/test/**

### Maven ###
mvnw
mvnw.cmd
.mvn/

### IDE's ###
.classpath
.idea
.project
.settings/
.vscode/*
*.iml
*.ipr
*.iws
*.launch

# compiled output
**/dist
**/node
**/node_modules
**/target
**/tmp

# misc
npm-debug.log
yarn-error.log
